export DEFAULT_WEB3_PROVIDER=localhost
#export DEFAULT_WEB3_PROVIDER=goerli
#export DEFAULT_WEB3_PROVIDER=mainnet
#export DEFAULT_WEB3_PROVIDER=optimismGoerli
export OPTIMISM_GOERLI_URL=
export OPTIMISM_GOERLI_DEPLOYER_PRIVATE_KEY=
export GOERLI_URL=
export GOERLI_DEPLOYER_PRIVATE_KEY=
